#-----------------------------------------------------------------------------
# Build artifacts
#-----------------------------------------------------------------------------
node_modules/
dist/


#-----------------------------------------------------------------------------
# macOS temporary files that should never be committed.
#-----------------------------------------------------------------------------

# c.f. http://www.westwind.com/reference/os-x/invisibles.html
.DS_Store
.Trashes
*.swp

#-----------------------------------------------------------------------------
# Files/directories used by editors/IDEs
#-----------------------------------------------------------------------------
.idea/
*.iws
*.ipr
*.project
*.*~
*.log

#-----------------------------------------------------------------------------
# Sensitive Data
#-----------------------------------------------------------------------------
env.js
env-confidential.js